<template name="legendViewLayout">
	<!-- Page Wrapper -->
	<!-- <div id="page-wrapper" class="page-loading"> -->
	<!-- <div id="page-wrapper"> -->

		<div id="legendLayoutContainer" class="container">
			<!-- {{> legendViewSideNav}} -->
			
			<!-- Main Container -->
			<!-- <div id="main-container"> -->
				<!-- {{> legendViewTopNav}} -->
				<!-- END Header -->
					{{> errors}}
						<!-- YIELD NEEDS <ROW> AS FIRST LINE -->
					{{> yield}}
			<!-- </div> -->

			<!-- END Main Container -->
		</div>

		<!-- END Page Container -->
	<!-- </div> -->
	<!-- END Page Wrapper -->
</template>
