<template name="legendItem">

  	<div class="legend">

        <div class="legend-content">
      		  <h3>{{title}}</h3>
      		  <p>
                {{synopsis}}
      			    submitted by {{author}}
                <a href="{{pathFor 'legendPage'}}">{{chaptersCount}} chapters</a>
      			    {{#if ownLegend}}
                  <a href="{{pathFor 'legendEdit'}}">
                    Edit
                  </a>
                {{/if}}
      		  </p>
   		  </div>

    	  <a href="{{pathFor 'legendPage'}}" class="discuss btn">Discuss</a>

  	</div>

</template>