<template name="legendPage">
	<div id="legendPage">

        <div id="legendSummary">
	  		<div class="contentHeader">
		    	<h4>
		      		<span class="title">{{title}}</span>
		      		<span class="author">on {{author}}</span>
				</h4>
			</div>
			<div class="summaryContent">
      		    <p>
                	{{synopsis}}
      		    </p>
      		    <p>
                	<!-- {{legendFirstDate}} -->
	                <!-- date[0] - date[last]  -->
      		    </p>
      		</div>
   		 </div>
		
		<div class="transitionDiv">
			<!-- Perhaps a shimmering gradient? -->
		</div>

		<div id="chapters">
			{{#each chapters}}
		        {{> chapter}}
			{{/each}}
		</div>
	</div>

</template>
