<template name="legendEdit">
  	<form class="main">
    	
    		
		<div class="control-group">
    		<label class="control-label" for="title">Title</label>
    		
    		<div class="controls">
        		<input name="title" type="text" value="{{title}}" placeholder="Name your legend"/>
    		</div>
		</div>

        <div class="control-group">
            <label class="control-label" for="synopsis">Synopsis</label>
            <div class="controls">
                <textarea name="synopsis" type="text" value=""></textarea>
            </div>
        </div>
		
		<div class="control-group">
    		<div class="controls">
        		<input type="submit" value="Submit" class="btn btn-primary submit"/>
    		</div>
		</div>
		
    	
        <hr/>


   		<div class="control-group">
    		<div class="controls">
        		
        		<a class="btn btn-danger delete" href="#">Delete legend</a>
    		</div>
		</div>
    	
  	</form>
</template>