<template name="home">
	<div class="home">
		<div class="header-unit row"> 
			<div id="video-container"> 
				<video autoplay loop class="fillWidth">
						<source src="/media/your-video-file.mp4" type="video/mp4"/>
					<source src="/media/your-video-file.ogg" type="video/ogg"/>
					<source src="/media/your-video-file.webm" type="video/webm"/> 
					Your browser does not support the video tag :( <br>
					We're working on an alternative - hang tight! :)
				</video>
			</div><!-- end video-container -->
		</div><!-- end .header-unit --> 
		<!-- - See more at: http://benkaminski.com/2013/05/26/responsive-html5-css3-video-background-in-div-no-javascript/#sthash.DXwjxmMn.3BmUXNCp.dpuf -->
	</div>
</template>