<template name="home">
	<div class="home">
		<div class="headerUnit row">
			<div id="homeVideo"></div>
			<div class="content col-sm-offset-5 col-sm-7 col-md-offset-6 col-md-5">
				<h1>Tell Your Story</h1>
					<br/>
				<h2>PersonalLegend.Me</h2>
			</div>
		</div>

		<div class="row tempBuffer"></div>
		
		<div id="mostRecentLegends" class="carousel slide">

			{{>_homeCarousel}}

		</div>

		<div class="row tempBuffer"></div>
		
		<div id="mostRecentLegends" class="carousel slide">

			{{>_homeCarousel}}

		</div>

		<div class="row tempBuffer"></div>
		
		<div id="mostRecentLegends" class="carousel slide">

			{{>_homeCarousel}}

		</div>



		<div class="aboutUnit row">
			Hello
		</div>
	


	</div>
</template>