<template name="dashboardSide">

    <div id="sidebar">
        <!-- Sidebar Brand -->
        <div id="sidebar-brand" class="themed-background">
            <a href="{{pathFor 'root'}}" class="sidebar-title">
                <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">Personal Legend<strong></strong></span>
            </a>
        </div>
        <!-- END Sidebar Brand -->

        <!-- Wrapper for scrolling functionality -->
        <div id="sidebar-scroll">
            <!-- Sidebar Content -->
            <div class="sidebar-content">
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li>
                        <a href="{{pathFor 'dashboard'}}" class="active">
                            <i class="fa fa-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-separator">
                        <i class="fa fa-ellipsis-h"></i>
                    </li>

                    <li>
                        <a href="{{pathFor 'legendCreate'}}">
                            <i class="fa fa-plus-square-o sidebar-nav-icon"></i>
                            <span class="sidebar-nav-mini-hide">Create a New Legend</span>
                        </a>
                        
                    </li>

                    <li>
                        
                        {{> manageLegendList}}

                    </li>

                
                    <li class="sidebar-separator">
                        <i class="fa fa-ellipsis-h"></i>
                    </li>
                    <li>
                        <a href="{{pathFor 'profileShow' username=currentUsername}}">
                            <i class="fa fa-user sidebar-nav-icon"></i>
                            <span class="sidebar-nav-mini-hide">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{pathFor 'profileEdit' username=currentUsername}}">
                            <i class="fa fa-cogs sidebar-nav-icon"></i>
                            <span class="sidebar-nav-mini-hide">Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{pathFor 'root'}}">
                            <i class="fa fa-unlock-alt sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Sign Out</span>
                    </a>
                    </li>
                </ul>
                <!-- END Sidebar Navigation -->
            </div>
            <!-- END Sidebar Content -->
        </div>
        <!-- END Wrapper for scrolling functionality -->

        <!-- Sidebar Extra Info -->
        <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide" style="border-top: 1px solid #5ccdde;">
            <div class="text-center">
                <small>
                    Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://d20innovation.com" target="_blank">D20Innovation</a>
                </small>
                <br>
                <small>
                    <span id="year-copy"></span> &copy;
                </small>
            </div>
        </div>
        <!-- END Sidebar Extra Info -->
    </div>
    <!-- END Main Sidebar -->
    
</template>