	
@import url(http://fonts.googleapis.com/css?family=Lustria);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif);

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

#legendPage{
	margin: 0; 
	text-align: center;

	-ms-word-break: break-all;
	word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;

	/*For hyphenation*/
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	text-justify: auto;
}

#legendPage h1,
#legendPage h2,
#legendPage h3,
#legendPage h4,
#legendPage h5,
#legendPage h6{
	font-family: 'Roboto', serif;
	/*font-weight: 700;*/

	/*font-family: 'Noto Serif', serif;*/
}

#legendPage,
#legendPage p,
#legendPage li,
#legendPage div{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	line-height: 1.5em;
	/*letter-spacing: 1px;*/

}

#legendPage h1{
	font-size: 40px;
	text-transform: uppercase;
}
#legendPage h2{
	font-size: 34px;
	text-transform: uppercase;
}
#legendPage h3{
	font-size: 28px;
}
#legendPage h4{
	font-size: 24px;
}
#legendPage h5{
	font-size: 21px;
}
#legendPage h6{
	font-size: 19px;
}




/*LEGENDSUMMARY*/

#legendPage #legendSummary{
	margin: 30px 0px 0px 0px; 
	text-align: center;
	background-color: papayawhip;
}

	#legendPage #legendSummary .contentHeader{
	  min-height: 50px;
	  padding: 50px 45px;
	  background-color: #696969;
	}
	

	#legendPage #legendSummary .summaryContent{
	   	min-height: 100px;
	  	padding: 125px 45px;
	  	background-color: papayawhip;
	}

/*CHAPTERS*/
#chapters {
  	list-style-type: none;
  	margin: 0; 
  	text-align: center;
}

	#chapters .chapter .content{
	  min-height: 100px;
	  padding: 125px 45px;
	}


	#chapters .chapter p:last-child {
	  margin-bottom: 0 
	}

/* ==========================================================================
   Parallax 
   ========================================================================== */
 #chapters .parallax {
	height: 600px;
	position: relative;
	overflow: hidden;
}

	#chapters .parallax-image {
	  width: 100%;
	  height: 100%;
	  background-size: cover;
	  background-attachment: fixed;
	}

	/*
	MOVED THIS TO RENDER INLINE STYLE ON CHAPTER TEMPLATE
	#chapters .parallax-background1 {
	  background-image: url(../img/backgrounds/4.png);
	}*/


	#chapters .parallax-content{
	width:100%;
	height:100%;
	padding:100px 0;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	z-index: 200;
	color: #fff;

}



#chapters .parallax-content h1{
	border:none;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	text-transform: uppercase;
}

#chapters .parallax-content h3{
   font-style:italic;
   font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
   text-transform:none;
}

#chapters .parallax .overlay {
  /*background: url(../img/overlays/05.png);*/
  /*background: #d3d3d3;*/
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(50%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 100;
  /*FOLLOWING MARGINS SET TO COUNTER BOOTSTRAPS CONTAINER/ROW/COLUMM FORMULA IN CONJUNCTION WITH WIDTH 100%*/
	margin-right: -15px;
	margin-left: -15px;
}