	

#legendPage{
	margin: 0; 
	text-align: center;
}

/*LEGENDSUMMARY*/

#legendSummary{
	margin: 30px 0px 0px 0px; 
	text-align: center;
	background-color: papayawhip;
}

	#legendSummary .contentHeader{
	  min-height: 50px;
	  padding: 50px 45px;
	  background-color: #696969;
	}
	

	#legendSummary .summaryContent{
	   	min-height: 100px;
	  	padding: 125px 45px;
	  	background-color: papayawhip;
	}

/*CHAPTERS*/
#chapters {
  	list-style-type: none;
  	margin: 0; 
  	text-align: center;
}

	#chapters .chapter{
		margin: 0px 0px;
	}

	#chapters .chapter h4 {
	  font-size: 16px; 
	  margin: 0;
	}

		#chapters .chapter h4 .date {
		  font-size: 12px;
		  font-weight: normal; 
		}

			#chapters .chapter h4 a {
			  font-size: 12px 
			}

				#chapters .chapter .content{
				  min-height: 100px;
				  padding: 125px 45px;
				}

				#chapters .chapter .contentHeader{
				  min-height: 50px;
				  padding: 50px 45px;
				  background-color: #A2A2A2;
				}


	#chapters .chapter p:last-child {
	  margin-bottom: 0 
	}