<template name="_legendCarousel">

	<div class="carousel-inner">
		
		<div class="item active">
			<div class="row">
			     <div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
			  <div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
			  <div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
			</div>
		</div>
		 
		<div class="item">
			<div class="row">

				<div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
			</div>
		</div>
		 
		<div class="item">
			<div class="row">
				<div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div class="col-xs-4">
                    <a href="page_ready_article.html" class="widget">
                        <div class="widget-content themed-background text-light-op">
                            <!-- <i class="fa fa-fw fa-pencil"></i> <strong>Story</strong> -->
                        </div>
                        <div class="widget-image widget-image-sm">
                            <img src="/images/stock/{{randomImageNumber}}.jpg" alt="image">
                            <div class="widget-image-content">
                                <h2 class="widget-heading text-light"><strong>{{randomizedTitle}}</strong></h2>
                                <h3 class="widget-heading text-light-op h4">It changed the way I think</h3>
                            </div>
                            <i class="gi gi-airplane"></i>
                        </div>
                        <div class="widget-content text-dark">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <i class="fa fa-heart-o"></i> 9.5k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-eye"></i> 76k
                                </div>
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt"></i> 7.2k
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

			</div>
		</div>
	 
	</div>

</template>