<template name="dashboardSide">

	<ul id="innerMenu">
		<li class="hoverable">
			<a href="{{pathFor 'home'}}">
				<i class="fa fa-home fa-3x"></i>
				<br>
				Home
			</a>
		</li>

		<li class="hoverable">
			<a href="{{pathFor 'dashboard'}}">
				<i class="fa fa-bar-chart-o fa-3x"></i>
				<br>
				Dashboard
			</a>
		</li>

		<li class="hoverable">
			<!-- comment A tag out when you implement legend sublist-->
			<a href="{{pathFor 'manage'}}">
				<i class="fa fa-compass fa-3x"></i>
				<br>
				Legends
			</a>

		</li>
		
		<li class="hoverable">
			<!-- <a href="{{pathFor 'root'}}"> -->
			<a href="#">
				<i class="fa fa-heart fa-3x"></i>
				<br>
				Loved
			</a>
		</li>

		<li class="hoverable">
			<a href="{{pathFor 'account'}}">
				<i class="fa fa-cogs fa-3x"></i>
				<br>
				Account
			</a>
		</li>

		
	</ul>
	
</template>