<template name="chapterCreate">

    <h2>Add a new Chapter Event</h2>
 	<form name="chapter" class="chapter-form">
 		
        <div class="control-group">
            <div class="controls">
                <label for="subtitle">Title of this marker</label>
                <input name="subtitle" type="text" value="" placeholder="Title this Chapter">

            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <label for="dateSpan">Pick a date for this event</label>
                <input type="date" name="dateSpan" class="datepicker">
            </div>
        </div>

    	<div class="control-group">
        	<div class="controls">
            	<label for="body">chapter on this post</label>
            	<textarea name="body"></textarea>
        	</div>
    	</div>

        <!-- <div class="control-group">
            <div class="controls">
                <label for="backgroundColour">Select a background colour for this object:</label>
                <input type="color" name="backgroundColour">
            </div>
        </div> -->

        <div class="control-group">
            <div class="controls">
                <label for="chapterThemeId">Select a background colour for this object:</label>
                <select class="form-control" name="chapterThemeId">

                    {{#each themeOptions}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                    
                </select>
            </div>
        </div>
    	
    	<div class="control-group">
        	<div class="controls">
            	<button type="submit" class="btn">Add Chapter</button>
        	</div>
    	</div>
  	
  	</form>
</template>