<template name="chapterEdit">

  	<h2>Edit Chapter Event</h2>
  	  	<form name="chapter" class="chapter-form">
  	 		
  	        <div class="control-group">
  	            <div class="controls">
  	                <label for="subtitle">
  	                	  Title of this marker
  	                </label>
  	                <input name="subtitle" type="text" value="{{subtitle}}">

  	            </div>
  	        </div>


  	        <div class="control-group">
  	            <div class="controls">
                    <label for="dateSpan">
  	                   	Pick a date for this event
  	                </label>
  	                <input type="date" name="dateSpan" class="datepicker" value="{{dateSpan}}">
  	            </div>
  	        </div>

  	    	<div class="control-group">
  	        	<div class="controls">
  	            	<label for="body">
  	            	  	Chapter on this post
  	            	</label>
  	            	<textarea name="body">{{body}}</textarea>
  	        	</div>
  	    	</div>

  	        <div class="control-group">
  	            <div class="controls">
  	                <label for="backgroundColour">
  	                	  Select a background colour for this object:
  	                </label>
  	                <input type="color" name="backgroundColour" value="{{backgroundColour}}">
  	            </div>
  	        </div>
  	    	
          <br>
          
  	    	<div class="control-group">
  	        	<div class="controls">
  	            	<button type="submit" class="btn">
  	            		 Save Changes
  	            	</button>
  	        	</div>
  	    	</div>

          <div class="control-group">
              <div class="controls">
                  <a class="btn btn-danger delete" href="#">
                          Delete Marker
                      </a>
              </div>
          </div>
  	  	
  	  	</form>

</template>