<template name="chapter">
	<div class="chapter" id="marker{{indexInc}}">
		<div class="row parallax">
			<div class="col-md-12 parallax-image" style="background-image: url(/images/stock/{{chapterImage}}.jpg);">
				<div class="parallax-content">
					<h1 class="date">
						{{dateSpan}}
					</h1>
					<h3 class="subtitle">
						{{subtitle}}
					</h3>
				</div>
				<!-- <div class="overlay"></div> -->
			</div>
		</div>
						
		<div class="row content {{chapterThemeClass}}" style="background-color: {{chapterThemeBackgroundColour}}; color: {{chapterThemeFontColour}}">
			<div class="col-md-offset-2 col-md-8">
				<h3>{{dataTop}}</h3>
				<p>{{breaklines body}}</p>
			</div>
		</div>
	</div>
</template>

<!-- SKROLLR CODE EXAMPLE  -->
<!-- <div class="content row" data-bottom-center="background-color:rgb(145,145,145);" data- -100-top="background-color:{{bkgColour}};"> -->