<template name="chapterCreate">

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <!-- Horizontal Form Block -->
            <div class="block">
                <!-- Horizontal Form Title -->
                <div class="block-title">
                    <h2>Create a New Chapter</h2>
                </div>
                <!-- END Horizontal Form Title -->

                <!-- Horizontal Form Content -->
                <form method="post" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="subtitle">Chapter Title</label>
                        <div class="col-md-9">
                            <input type="text" id="subtitle" name="subtitle" class="form-control">
                            <span class="help-block">Title of this chapter?</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" name="dateSpan">Chapter Date</label>
                        <div class="col-md-9">
                            <input type="text" id="dateSpan" name="dateSpan" class="form-control input-datepicker" data-date-format="mm-dd-yyyy" placeholder="mm-dd-yyyy">
                            <span class="help-block">When did this chapter of your life take place?</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="synopsis">Chapter Details</label>
                        <div class="col-md-9">
                            <textarea id="synopsis" name="synopsis" rows="6" class="form-control" placeholder="You don't know about me without you have read a book by the name of The Adventures of {{currentUsername}}; but that ain't no matter..."></textarea>
                            <span class="help-block">Tell us a story about what happened during this date</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="chapterThemeId">Select a colour theme for this object:</label>
                        <div class="col-md-9">
                            <select id="chapterThemeId" name="chapterThemeId" class="select-chosen" data-placeholder="Choose a theme..">
                                <option></option>
                                {{#each themeOptions}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
                            <button type="reset" class="btn btn-effect-ripple btn-danger">Reset</button>
                        </div>
                    </div>

                </form>
                <!-- END Horizontal Form Content -->
            </div>
            <!-- END Horizontal Form Block -->
        </div>
    </div>
</template>

